{% extends 'base.html.twig' %}

{% block title %}TestEnt index{% endblock %}

{% block body %}
    <h1>Contact List</h1>
    <div class="row mb-2">
        <div class="col">
            <a href="{{ path('test_ent_new') }}" class="btn btn-primary" role="button"> + </a>
        </div>
        <div class="col-10">
         &nbsp;
        </div>
    </div>
    <div class="card p-2">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for test_ent in test_ents %}
                    <tr>
                        <td>{{ test_ent.id }}</td>
                        <td>{{ test_ent.name }}</td>
                        <td>{{ test_ent.email }}</td>
                        <td>{{ test_ent.message|truncate(30)  }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ path('test_ent_show', {'id': test_ent.id}) }}" role="button"><span class="oi oi-grid-two-up"></span></a>
                            <a class="btn btn-success btn-sm" href="{{ path('test_ent_edit', {'id': test_ent.id}) }}" role="button"><span class="oi oi-pencil"></span></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-info" role="alert">no records found!</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}