{% extends 'base.html.twig' %}

{% block title %}Articles-List{% endblock %}

{% block body %}
    <h1>Article List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a href="{{ path('article_new') }}"><span class="oi oi-medical-cross"></span> Create</a>
                </th>
                <th>Title</th>
                <th>Content</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><img src="../../{{ article.imgURL }}" width="20px"/></td>
                <td>{{ article.title }}</td>
                <td>{{ article.atext| truncate(30) }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}"><span class="oi oi-grid-two-up"></span>&nbsp;</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}"><span class="oi oi-pencil"></span>&nbsp;</a>
                </td>
            </tr>
        {% else %}
               <tr>
                    <td colspan="5">
                        <div class="alert alert-info" role="alert">no records found!</div>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table> 
{% endblock %}
