{% extends 'base.html.twig' %}

{% block title %}Article-Show{% endblock %}

{% block body %}
    <h1>Article</h1>
    <div class="d-flex flex-row bd-highlight mb-2">
        <div class="p-1 bd-highlight">
            <a href="{{ path('article_index') }}" class="btn btn-primary btn-sm" role="button">
                <span class="oi oi-list" title="Back to List" aria-hidden="true"></span>
            </a>   
        </div>
        <div class="p-1 bd-highlight">
            <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-success btn-sm" role="button">
                <span class="oi oi-pencil" title="Edit" aria-hidden="true"></span>
            </a>    
        </div>
        <div class="p-1 bd-highlight">
            {{ include('article/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="card mt-2 p-2">
        <div class="row">
            <div class="col mb-2">
                <div class="text-center">
                    <img src="../../{{article.imgUrl}}" alt="testbild" height="200px"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card p-2">
                    <p>
                        <strong>Tags</strong>(read from array)
                    </p>
                    <ul class="list-unstyled">
                        {% for i in article.tags %}
                            <li><span class="badge badge-info">{{i}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card p-1">
                    <h5>{{article.title}}</h5>
                </div>
                <div class="card mt-2 p-1">
                    {{article.atext}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
